<a href="https://colab.research.google.com/github/Turchiellows/CurosExtensaoPythonPandas2023-1/blob/main/Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
# Elias BernabÃ© Turchiello
# 09/02/2023

################################################################################
# IMPORTS
################################################################################
import pandas as pd
import numpy as np
import datetime





################################################################################
# FUNCTIONS
################################################################################

def show_header(message, wdt, chr):
    tm = datetime.datetime.now().time()
    print(f'{chr}' * wdt)
    print(f'{chr} {message.upper()} {tm}')
    print(f'{chr}' * wdt)


def spliter():
    print(f'-' * 120)
    print(f'-' * 120)







################################################################################
# RUN
################################################################################

# SHOW A HEADER
show_header('aula 04 - loading data ', 120, '#')
start           = datetime.datetime.now().time()
print(f'start          -> loading... - {start}'.upper())

# LOAD THE DATABASES FROM SOME FILES
fuel            = pd.read_excel('/content/ca202102_20230207120945.xlsx')
finish          = datetime.datetime.now().time()
print(f'fuel           -> success!! - {finish}'.upper())

# polulation    = pd.read_csv('/content/ibge_num_habitantes_estimado.csv', delimiter=';')     # Thhis work too
population      = pd.read_csv('/content/ibge_num_habitantes_estimado.csv', sep =';')
finish          = datetime.datetime.now().time()
print(f'population     -> success!! - {finish}'.upper())

########################################################################################################################
# AULA 04 - LOADING DATA  00:51:17.015110
########################################################################################################################
START          -> LOADING... - 00:51:17.018695
FUEL           -> SUCCESS!! - 00:51:53.628876
POPULATION     -> SUCCESS!! - 00:51:53.632204

In [106]:
# SORTING BY A STATIC VALUE IF IT IS EXPENSIVE OR CHEEAP
# Using numpy library
fuel['OBS']       = np.where(fuel['Valor de Venda'] > 5.5, 'Caro', 'Barato')
# display(db[['Revenda', 'Valor de Venda', 'OBS']])





# COUNTING THE NUMBER OF FUEL STATION PER POPULATION

# RENAME A COLUMN
population.rename(columns={'Estado': 'Estado - Sigla'}, inplace = True)
# display(population)



# MERGE THE TWO DATABASES
columns     = ['Municipio', 'Estado - Sigla']
gastation   = fuel.merge(population, how='inner', on= columns)
# gastation   = fuel.merge(population, how='left', on= columns)
# gastation   = fuel.merge(population, how='right', on= columns)
# gastation   = fuel.merge(population, how='outer', on= columns)
# gastation   = fuel.merge(population, how='cross')



# DROP ALL EMPTY COLUMNS
gastation.dropna(axis = 1, inplace=True) # Drop empty lines
gastation.drop(labels = ['Produto', 'Regiao - Sigla', 'Nome da Rua','Numero Rua', 'Bairro', 'Cep', 'Data da Coleta', 'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'OBS' ], axis = 1, inplace = True) # Drop specific columns
gastation.drop_duplicates(inplace = True) # Drop duplicate lines



# GROUP AND COUNTING
gastation_sum = gastation.groupby(by=['Estado - Sigla', 'Municipio']).count() # Grouping and counting
gastation_sum.drop('CNPJ da Revenda', axis = 1, inplace = True) # Drop a specific column
gastation_sum.rename(columns={'Revenda' : 'Quantidade'}, inplace = True) # Rename a specific column
gastation_sum.fillna(value, method, axis, inplace, limit, downcast)


# display(gastation.info())
# display(gastation)
display(gastation_sum)

                               Quantidade  NumHabitantes2021
Estado - Sigla Municipio
AC             RIO BRANCO              44                 44
GO             GOIANIA                 93                 93
MG             BELO HORIZONTE          54                 54
MS             CAMPO GRANDE           104                104
PR             CURITIBA               110                110
RJ             RIO DE JANEIRO         379                379
RN             NATAL                   37                 37
RO             PORTO VELHO             40                 40
RS             PORTO ALEGRE            73                 73
SP             CAMPINAS                51                 51
               INDAIATUBA              36                 36
               SANTOS                  36                 36
               SAO PAULO              429                429
               SAO VICENTE             20                 20
TO             PALMAS                  26                 26