<a href="https://colab.research.google.com/github/Turchiellows/CurosExtensaoPythonPandas2023-1/blob/main/Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Elias Bernab√© Turchiello
# 09/02/2023


################################################################################
# IMPORTS
################################################################################
import pandas as pd





################################################################################
# CONFIG
################################################################################





################################################################################
# FUNCTIONS
################################################################################

def show_header(message, wdt, chr):
    print(f'{chr}' * wdt)
    print(f'{chr} {message}'.upper())
    print(f'{chr}' * wdt)


def spliter():
    print(f'-' * 120)
    print(f'-' * 120)







################################################################################
# RUN
################################################################################

# SHOW A HEADER
show_header('LOAD DATA - aula 02', 120, '#')

# LOAD DE DATABASE FROM A FILE
data_partial    = pd.read_excel('/content/ca202102_20230207120945.xlsx')
print(f'!! success !!'.upper())

In [6]:
# SHOW THE DATABASE RAW
# show_header('show all database raw', 120, '+')
# print(f'{data_partial}')



# SHOW THE DATABASE FORMATED
# show_header('show all database formated', 120, '+')
# display(data_partial)

# show_header('show only first lines', 120, '+')
# display(data_partial.head(5))

# show_header('show the number o lines and columns of database', 120, '+')
# display(data_partial.shape)

# show_header('show database summarised', 120, '+')
# display(data_partial.describe())

# show_header('show the database structure', 120, '+')
# display(data_partial.info())



# FILTER DATA BY COLUMN/REGISTERS
# show_header('filter data by columns', 120, '+')
# company = data_partial['Revenda']
# company = data_partial[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
# display(company)



# FILTER DATA FROM ROWS/TUPLES
# show_header('filter data by lines', 120, '+')
# display(data_partial.loc[3])
# display(data_partial.loc[5:10])



# FILTER DATA BAY TEXT/VALUE
# show_header('filter data by text value', 120, '+')
# result = data_partial.loc[data_partial['Produto'] == 'GASOLINA']
# result = data_partial.loc[(data_partial['Produto'] == 'GASOLINA') & (data_partial['Municipio'] == 'INDAIATUBA')]
# result = data_partial.loc[(data_partial['Produto'] == 'GASOLINA') & (data_partial['Municipio'] == 'INDAIATUBA'), ['Produto', 'Revenda', 'Data da Coleta', 'Produto', 'Valor de Venda']]

# result = data_partial.loc[(data_partial['Produto'] == 'GASOLINA') & (data_partial['Municipio'] == 'FLORIANOPOLIS'), ['Bairro', 'Nome da Rua', 'Valor de Venda']]
# display(result.sort_values('Valor de Venda', inplace=True))
# display(result)

# SHOW THE AVERAGE OF ALL PRODUCTS
result = data_partial[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(3)
display(result)



# ADD NEW REGISTER INTO THE RESULT FROM THE FILTER
# show_header('add colum to database', 120, '+')
# result = data_partial.loc[data_partial['Produto'] == 'GASOLINA']
# result['Imposto'] = result['Valor de Venda'] * 0.10

# data_partial['ativo'] = True                    # Add a new column to the database

# data_partial['Obs']     = ''
# display(data_partial)

# display(result)



# Remove data from the result
# result = result.drop('Imposto', axis=1)
# display(result)


# Delete rows and columsn empty
# result = result.dropna(how = 'all')
# display(result)
# spliter()

# Delete only rows empty
# result = result.dropna(how = 'all', axis = 1)
# display(result)


# Automatic fill
# data_partial['Imposto'] = data_partial['Valor de Venda'] * 0.10
# display(data_partial)
# spliter()

# data_partial['Imposto'] = data_partial['Imposto'].fillna(data_partial['Imposto'].mean())
# display(data_partial)


# group by
# big_price = data_partial[['Produto', 'Valor de Venda']].groupby('Produto').mean()
# display(big_price)


# Save the result
# big_price.to_excel('big_price.xlsx')

                    Valor de Venda
Produto
DIESEL                       5.376
DIESEL S10                   5.455
ETANOL                       5.456
GASOLINA                     6.709
GASOLINA ADITIVADA           6.860
GNV                          4.393