<a href="https://colab.research.google.com/github/Turchiellows/CurosExtensaoPythonPandas2023-1/blob/main/Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
# Elias BernabÃ© Turchiello
# 09/02/2023

################################################################################
# IMPORTS
################################################################################
import pandas as pd
import numpy as np
import datetime





################################################################################
# FUNCTIONS
################################################################################

def show_header(message, wdt, chr):
    tm = datetime.datetime.now().time()
    print(f'{chr}' * wdt)
    print(f'{chr} {message.upper()} {tm}')
    print(f'{chr}' * wdt)


def spliter():
    print(f'-' * 120)
    print(f'-' * 120)







################################################################################
# RUN
################################################################################

# SHOW A HEADER
show_header('aula 04 - loading data ', 120, '#')
start           = datetime.datetime.now().time()
print(f'start          -> loading... - {start}'.upper())

# LOAD THE DATABASES FROM SOME FILES
fuel            = pd.read_excel('/content/ca202102_20230207120945.xlsx')
finish          = datetime.datetime.now().time()
print(f'fuel           -> success!! - {finish}'.upper())

# polulation    = pd.read_csv('/content/ibge_num_habitantes_estimado.csv', delimiter=';')     # Thhis work too
population      = pd.read_csv('/content/ibge_num_habitantes_estimado.csv', sep =';')
finish          = datetime.datetime.now().time()
print(f'population     -> success!! - {finish}'.upper())

########################################################################################################################
# AULA 04 - LOADING DATA  00:51:17.015110
########################################################################################################################
START          -> LOADING... - 00:51:17.018695
FUEL           -> SUCCESS!! - 00:51:53.628876
POPULATION     -> SUCCESS!! - 00:51:53.632204

In [130]:
# SORTING BY A STATIC VALUE IF IT IS EXPENSIVE OR CHEEAP
# Using numpy library
fuel['OBS']       = np.where(fuel['Valor de Venda'] > 5.5, 'Caro', 'Barato')
# display(db[['Revenda', 'Valor de Venda', 'OBS']])





# COUNTING THE NUMBER OF FUEL STATION PER POPULATION

# RENAME A COLUMN
population.rename(columns={'Estado': 'Estado - Sigla'}, inplace = True)
# display(population)



# MERGE THE TWO DATABASES
columns     = ['Municipio', 'Estado - Sigla']
gastation   = fuel.merge(population, how='inner', on= columns)
# gastation   = fuel.merge(population, how='left', on= columns)
# gastation   = fuel.merge(population, how='right', on= columns)
# gastation   = fuel.merge(population, how='outer', on= columns)
# gastation   = fuel.merge(population, how='cross')



# DROP ALL EMPTY COLUMNS
gastation.dropna(axis = 1, inplace=True) # Drop empty lines
gastation.drop(labels = ['Produto', 'Regiao - Sigla', 'Nome da Rua','Numero Rua', 'Bairro', 'Cep', 'Data da Coleta', 'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'OBS' ], axis = 1, inplace = True) # Drop specific columns
gastation.drop_duplicates(inplace = True) # Drop duplicate lines



# GROUP AND COUNTING
gastation_sum = gastation.groupby(by=['Estado - Sigla', 'Municipio']).count() # Grouping and counting
# gastation_sum.reset_index(inplace = True)
gastation_sum.drop('CNPJ da Revenda', axis = 1, inplace = True) # Drop a specific column
gastation_sum.rename(columns={'Revenda' : 'Quantidade'}, inplace = True) # Rename a specific column
gastation_sum.fillna('-', inplace = True)


# display(gastation.info())
display(gastation)
display(gastation_sum)

print(gastation_sum['NumHabitantes2021'] / gastation_sum['Quantidade'])

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,1555626
...,...,...,...,...,...
20431,SP,INDAIATUBA,AUTO POSTO GARATEIA LTDA.,17.691.073/0001-70,260690
20463,SP,INDAIATUBA,AUTO POSTO SAO PAULO LIMITADA,49.446.370/0001-46,260690
20491,SP,INDAIATUBA,AUTO POSTO EKKO PARK LTDA,12.114.176/0001-53,260690
20579,SP,INDAIATUBA,"AUTO POSTO SANTOS DUMONT KM 48,5 LTDA",57.920.977/0001-44,260690
20608,SP,INDAIATUBA,AUTO POSTO DISTRITO DE INDAIA LTDA,09.536.396/0001-60,260690

                               Quantidade  NumHabitantes2021
Estado - Sigla Municipio
AC             RIO BRANCO              44                 44
GO             GOIANIA                 93                 93
MG             BELO HORIZONTE          54                 54
MS             CAMPO GRANDE           104                104
PR             CURITIBA               110                110
RJ             RIO DE JANEIRO         379                379
RN             NATAL                   37                 37
RO             PORTO VELHO             40                 40
RS             PORTO ALEGRE            73                 73
SP             CAMPINAS                51                 51
               INDAIATUBA              36                 36
               SANTOS                  36                 36
               SAO PAULO              429                429
               SAO VICENTE             20                 20
TO             PALMAS                  26                 26

Estado - Sigla  Municipio
AC              RIO BRANCO        1.0
GO              GOIANIA           1.0
MG              BELO HORIZONTE    1.0
MS              CAMPO GRANDE      1.0
PR              CURITIBA          1.0
RJ              RIO DE JANEIRO    1.0
RN              NATAL             1.0
RO              PORTO VELHO       1.0
RS              PORTO ALEGRE      1.0
SP              CAMPINAS          1.0
                INDAIATUBA        1.0
                SANTOS            1.0
                SAO PAULO         1.0
                SAO VICENTE       1.0
TO              PALMAS            1.0
dtype: float64